// Switch
// =======================================================================

.form-switch .form-check-label {
  .switch-icon-left,
  .switch-icon-right {
    transform: translate(0px, 1px) !important;
  }
}

.roles-check {
  &.form-switch {
    padding-left: 2.5rem;
    .form-check-input {
      margin-left: -2.5rem;
      width: 2.2rem;
      height: 1.25rem;
    }
  }
  .form-check-label {
    line-height: 1.35rem;
    .switch-icon-left {
      left: 3px;
      line-height: 1.25;
    }
    .switch-icon-right {
      left: 15px;
      line-height: 1.25;
    }
  }
}