@import '@styles/base/colors';

.password-standard {
    position: absolute;
    width: 241px;
    top: 100%;
    right: 0;
    z-index: 5;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgb(72 85 133 / 35%);
    border-radius: 8px !important;
    font-size: 12px;
    padding: 1rem;
}
.password-standard li.nav-item {
    margin-bottom: 0.35rem;
}
.password-standard li.nav-item:last-child {
    margin-bottom: 0;
}
.password-standard li.nav-item span {
    margin-left: 5px;
}
body:is(.dark-layout) {
    .password-standard {
        background-color: $black;
    }
}
.auth-reset-password-form {
    .input-group-merge {
        .is-invalid, .is-valid {
            padding-right: 2.5rem;
        }
    }
}